# ckanext-harvester with additional features and fixed supporting CKAN 1.8
-e git+https://github.com/fraunhoferfokus/ckanext-harvest.git@govdatade-compliant#egg=ckanext-harvest
-e git+https://github.com/okfn/ckanclient@183ad055e51e7e30561cf3075ed7848d72a0e566#egg=ckanclient-master
nose==1.3.0
Jinja2==2.6
jsonschema==2.3.0
httpretty==0.7.1
requests==0.6.4
redis==2.8.0
