{% extends "layout.html.jinja2" %}
{% block body %}
<h1>Übersicht</h1>
<p>Um die Qualität der Metadaten auf <a href="https://www.govdata.de">GovData.de</a> nachhaltig sicherzustellen werden eine Reihe von Werkzeugen eingesetzt. Aufgabe der Werkzeuge ist die Feststellung und Lokalisierung von potentiellen Mängeln und die transparente Kommunikation dieser.</p>
<div class="row">
  <div class="col-md-12">
    <h2>Verweisprüfer</h2>
    <p>Anzahl der Metadaten die von toten Links betroffen sind: {{ linkchecker.broken }} von {{ num_datasets }}</p>
    <div class="row">
      <div class="col-md-6">
        <div id="linkchecker-pie-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Schemaprüfer</h2>
    <p>Anzahl der Metadaten die von Schemafehlern betroffen sind: {{ schemachecker.broken }} von {{ num_datasets }}</p>
    <div class="row">
      <div class="col-md-6">
        <div id="schemachecker-pie-chart"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
