{% extends "layout.html.jinja2" %}
{% block body %}
<h1>Übersicht</h1>
<div class="row">
  <div class="col-md-12">
    <h2>Verweisprüfer</h2>
    <div class="row">
      <div class="col-md-6">
        <div id="linkchecker-pie-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Schemaprüfer</h2>
    <div class="row">
      <div class="col-md-6">Pie Chart</div>
    </div>
  </div>
</div>
{% endblock %}
