{% extends "layout.html.jinja2" %}
{% block body %}
  <h1>Verweisprüfer</h1>
  <div class="row">
    <div class="col-md-12">
      <h2>Übersicht</h2>
      <p>Folgend die Übersicht der Datenbereitsteller die betroffenen sind von toten Links in einzelnen Metadatensätzen.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <table class="overview table table-striped table-bordered">
          <thead>
            <tr>
              <th>Datenbereitsteller</th>
              <th>Anzahl</th>
            </tr>
          </thead>
          <tbody>
            {% for portal, broken_records in portals|dictsort(false, 'value')|reverse %}
              <tr>
                <td>
                  <div class="row">
                    <div class="col-md-9">{{ portal }}</div>
                    <div class="col-md-3">
                      <div class="bar" style="width:{{ broken_records / portals.values()|sum * 20}}em"></div>
                    </div>
                  </div>
                </td>
                <td>
                  {{ broken_records }}
                </td>
              </tr>
            {% endfor %}
            <tr>
              <th>Summe</th>
              <td><strong>{{ count }}</strong></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Analyse</h2>
        <p>Übersicht der einzelnen Datensätze die pro Metadatensatz betroffen sind.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% for portal, records in entries.iteritems() %}
      <h3>{{ portal }}</h3>
        <table class="analysis table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>URL</th>
              <th>Fehler</th>
              <th>Tage nicht erreichbar</th>
            </tr>
          </thead>
          <tbody>
            {% for record in records %}
              {% for url, analysis in record['urls'].iteritems() %}
                <tr>
                  {% if loop.first %}
                    <td rowspan="{{ record['urls']|length }}"><a href="https://www.govdata.de/ckan/api/rest/dataset/{{ record['id'] }}">{{ record['id'] }}</a></td>
                  {% endif %}
                  <td><a href="{{ url }}">{{ url }}</a></td>
                  <td>{{ analysis['status'] }}</td>
                  <td>{{ analysis['strikes'] }} {% if analysis['strikes'] >= 3 %}<span class="deleted"><a data-toggle="tooltip" title="Metadatensatz wurde deaktiviert">✗</a></span>{% endif %}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>
  </div>
{% endblock %}
