<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Schema Validation</title>
  <link rel="stylesheet" href="assets/vendor/css/bootstrap.min.css" media="all">
  <script type="text/javascript">{% include 'vendor/js/jquery-2.0.3.min.js' %}</script>
  <script type="text/javascript" src="assets/vendor/js/bootstrap.min.js"></script>
  <style type="text/css">
    {% include 'vendor/css/bootstrap.min.css' %}
    h1, h2, h3 {
      text-align: center;
      margin-bottom: 1.25em;
    }

    #broken-rules-table tbody tr td[rowspan] {
      text-align: center;
      vertical-align: middle;
    }

    .nav {
      margin-bottom: 1.25em;
    }
  </style>
</head>
<body>
  <h1>Schema Validation</h1>
  <h2>Valid {{ valid_datasets }} of {{ valid_datasets + invalid_datasets }}</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Data Provider</th>
            <th>Invalid Packages</th>
          </tr>
        </thead>
        <tbody>
          {% for data_provider, incidents in broken_rules.iteritems() %}
            <tr>
              <td>{{ data_provider }}</td>
              <td>{{ incidents|count }} of {{ datasets_per_portal[data_provider]|count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Field Path</th>
            <th>Broken Rules</th>
          </tr>
        </thead>
        <tbody>
          {% for path, count in field_paths.iteritems() %}
            <tr>
              <td>{{ path }}</td>
              <td>{{ count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="nav nav-tabs">
        {% for portal, datasets in broken_rules.iteritems() %}
          <li class="{{ "active" if loop.index == 1 }}"><a href="#{{ portal|replace(".","-") }}" data-toggle="tab">{{ portal }}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for portal, datasets in broken_rules.iteritems() %}
          <div id="{{ portal|replace(".","-") }}" class="tab-pane {{ "active" if loop.index == 1 }}">
            <table id="broken-rules-table" class="table table-bordered">
              <thead>
                <tr>
                  <th>Package ID</th>
                  <th>Field Path</th>
                  <th>Broken Rules</th>
                </tr>
              </thead>
              <tbody>
                {% for dataset_id, errors in datasets.iteritems() %}
                  {% for error in errors %}
                    <tr>
                      {% if loop.index == 1 %}
                        <td rowspan={{ errors|count }}><a href="https://www.govdata.de/ckan/api/rest/dataset/{{ dataset_id }}">{{ dataset_id }}</a></td>
                      {% endif %}
                      <td>{{ error[0] }}</td>
                      <td>{{ error[1] }}</td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
