<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Schema Validation</title>
  <link rel="stylesheet" href="../lib/vendor/css/bootstrap.min.css">
</head>
<body>
  <h1>Schema Validation</h1>
  <h2>Valid {{valid_datasets }} of {{ valid_datasets + invalid_datasets }}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Data Provider</th>
        <th>Invalid Packages</th>
      </tr>
    </thead>
    <tbody>
      {% for data_provider, incidents in broken_rules.iteritems() %}
        <tr>
          <td>{{ data_provider }}</td>
          <td>{{ incidents|length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Field Path</th>
        <th>Broken Rules</th>
      </tr>
    </thead>
    <tbody>
      {% for path, count in field_paths.iteritems() %}
        <tr>
          <td>{{ path }}</td>
          <td>{{ count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Package ID</th>
        <th>Field Path</th>
        <th>Broken Rules</th>
      </tr>
    </thead>
    <tbody>
      {% for portal, datasets in broken_rules.iteritems() %}
        {% for dataset_id, errors in datasets.iteritems() %}
          {% for error in errors %}
            <tr>
              <td>{{ dataset_id }}</td>
              <td>{{ error[0] }}</td>
              <td>{{ error[1] }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  <script type="text/javascript" src="../lib/vendor/js/bootstrap.min.js"></script>
</body>
</html>
